{% extends 'base.html'%}
{% load static %}

{% block title %} Home {% endblock %}

{% block welcome %}
  <h3>Welcome to <strong>Shopping Cart</strong></h3>
  <a href="#portfolio" class="btn-get-started scrollto">Get Started</a>
<!--
<h1>We're Creative Agency</h1>
  <h2>We are team of talented designers making websites with Bootstrap</h2>
  <a href="#about" class="btn-get-started scrollto">Get Started</a>
-->
{% endblock %}


{% block content %}
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Welcome to The Shop</h2>
          <h3>Check our <span>products</span></h3>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for category in categories %}
                <li data-filter=".filter-{{category.name}}">{{category.name}} - {{category.items.count}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          {% for item in items %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{item.category}}">
              <a href="{% url 'details' item.id %}">
                <img src="{{item.image.url}}" class="img-fluid" alt="">
              </a>
              <div class="portfolio-info">
                <h4 id="namepr{{item.id}}">{{item.name}}</h4>
                <p id="pricepr{{item.id}}">Price: {{item.price}} (BDT)</p>
                <span id="divpr{{item.id}}" class="divpr">
                  <button id="pr{{item.id}}" class="btn btn-primary cart btn-sm mt-0">
                    Add To Cart <i class="fa-solid fa-cart-shopping"></i>
                  </button>
                </span>
                <a href="{{item.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{item.name}}"><i class="bx bx-plus"></i></a>
                <a href="{% url 'details' item.id %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          {% endfor %}



        </div>

      </div>
    </section><!-- End Portfolio Section -->
{% endblock %}